
<div class="card" style="width: 100%;">
    <div class="card-header">
        <h1>Add Topic</h1>
    </div>
   <!--  <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="usr"> Course Name : </label>
                <input type="text" [(ngModel)]="courseName" (ngModelChange)="courseName = $event">
            </div>
            <div class="col-sm-4">
                <span  class="BusTitle">Categories :
                    <select [(ngModel)]="categoriesList"style="float:right;margin-right:10px;">
                    <option *ngFor="let optCat of categoriesList" value={{optCat.ID}}> {{optCat.Name_L2}} </option>
                    </select>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="usr"> Effective : </label>
                <input type="date" [(ngModel)]="fromDate" (ngModelChange)="fromDate = $event">
            </div>
            <div class="col-sm-4">
                <label for="usr"> To : </label>
                <input type="date" [(ngModel)]="toDate" (ngModelChange)="toDate = $event">
            </div>
            <button  class="btn btn-primary btn-md" type="button" (click)="searchCourse()">Search</button>
        </div>
    </div> -->
</div>


    <button  class="btn btn-primary btn-md" type="button" (click)="prevPage()">Prev</button>