/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.esn-nav-left{
background-color: #34282C;
color: #fff;
height: 600px;
}
.esn-nav-top{
    background-color: #C11B17;
    color: #fff;
    height: 80px;
    }
.esn-w-20{
    width: 20%!important
}
.esn-w-80{
    width: 80%!important
}