<div class="d-flex flex-column">
  <topBar></topBar>
  <div class="d-flex flex-row">
    <div class="esn-w-20">
      <leftBar></leftBar>
    </div>
    <div class="esn-w-80">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>





<!-- <div>
   
    <topBar></topBar>
   
   <div class="d-flex flex-row">
      <div class="w-25 p-3">
        <leftBar></leftBar>
      </div>
      <div class="w-100 p-3">
        <div>
            <router-outlet></router-outlet>
        </div>
        <div>
          <footer></footer>
        </div>
      </div>
   </div>
</div>
 -->
<!-- <div  style="height: 800px;background-color:#ddd">
  <div class="h-25 d-inline-block p-2 bg-warning">Height 25%</div>
  <div class="h-50 d-inline-block p-2 bg-warning">Height 50%</div>
  <div class="h-75 d-inline-block p-2 bg-warning">Height 75%</div>
  <div class="h-100 d-inline-block p-2 bg-warning">Height 100%</div>
  <div class="mh-100 d-inline-block p-2 bg-warning">Max Height 100%</div>
</div> -->